body {
	text-align:center;
	background-color: skyblue;
	font-family: arial;
}

h1 {
	background-color: blue;
	color:white;
	font-family: arial;
	margin:0.5%;
}

p {
	background-color: skyblue;
	font-family: arial;
}

.fixed {
	position:fixed;
	bottom:0;
	text-align: center;	
}

.button {
	background-color: blue;
	border: 0.5px;
	border-radius: 5px;
	color: white;
	text-align: center;
	font-size: 14px;
	padding: 10px 15px;
	cursor: pointer;
}

.bottom {
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
}

.responsive {
	width: 100%;
	height: auto;
}

.hero-image1{
	background-image: url('img/Bubble Logo 1.png');
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
}