body {
	text-align:center;
	background-color: skyblue;
	font-family: arial;
}

h1 {
	background-color: blue;
	color:white;
	font-family: arial;
	margin:0.5%;
}

p {
	background-color: skyblue;
	font-family: arial;
}

.fixed {
	position:fixed;
	bottom:0;
	text-align: center;	
}

.button {
	background-color: blue;
	border: 0.5px;
	border-radius: 5px;
	color: white;
	text-align: center;
	font-size: 14px;
	padding: 10px 15px;
	cursor: pointer;
}

.bottom {
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
}